.peru{
    width: 60%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    background-color: black
}
article{
    height: 130px;
    width: 33%;
}
.bordes{
    background:red;
    margin-bottom: 50px;

}

.nigeria{
    width: 60%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    background-color: black
}
article{
    height: 130px;
    width: 33%;
}
.borde{
    background:rgb(255, 255, 255);
    margin-bottom: 50px;
}

.alemania {
    width: 60%;
    height: 200px;
    position: relative;
    flex-direction: row;
    border: 1px solid black;
}

.alemania article {
    width: 100%;
    position: absolute;
}

.alemania .negro {
    background-color: black;
    height: 33.33%;
}

.alemania .rojo {
    background-color: red;
    height: 33.33%;
    top: 33.33%;
}

.alemania .amarillo {
    background-color: yellow;
    height: 33.33%;
    top: 66.66%;
}

